
:root {
  --handle-color: #2f4050;
}

.ScheduleIntervalHandle {
  position: absolute;
  width: 1px;
  height: 60px;
  background-color: var(--handle-color);
  bottom: 0;
}

.ScheduleIntervalHandleBody {
  background-color: var(--handle-color);
  height: 15px;
  line-height: 15px;
  position: absolute;
  cursor: -webkit-grab;
  cursor: grab;
  color: #fff;
  font-size: 10px;
  padding: 0 5px;
}

.ScheduleIntervalHandleLeft {
  left: 0;
}

.ScheduleIntervalHandleRight {
  right: 0;
}

.ScheduleIntervalHandleLeft .ScheduleIntervalHandleBody {
  right: 0;
}

.ScheduleIntervalHandleLeft .ScheduleIntervalHandleBody:before,
.ScheduleIntervalHandleRight .ScheduleIntervalHandleBody:after {
  content: ' ';
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
}

.ScheduleIntervalHandleLeft .ScheduleIntervalHandleBody:before {
  border-width: 7.5px 5px 7.5px 0;
  border-color: transparent var(--handle-color) transparent transparent;
  left: -5px;
}

.ScheduleIntervalHandleRight .ScheduleIntervalHandleBody:after {
  border-width: 7.5px 0 7.5px 5px;
  border-color: transparent transparent transparent var(--handle-color);
  right: -5px;
}